importFrom("flowCore","compensate","Subset","%on%")
importClassesFrom("flowCore", "flowSet", "filterSet")

importFrom("flowViz")

importFrom("Biobase","sampleNames")


exportClasses("flowPlate")

exportMethods("compensate","flowPlate","setRange","fixAutoFl","plateSet","getGroups",
	"Subset","%on%","overlay","applyControlGates","summaryStats","sampleNames","pbind")	
	
export("makePhenoData","read.flowPlate","getIsoGates","getLinIsoGates","applyIsoGates",
	"getMarkers","calcIsoRatio","plateBasicSumm","getCompGates","plateCompensate","eventCheck",
	"callPops","setContolGates","checkIsoGates","checkIsoGates2")
		