importFrom("flowCore","compensate","Subset","%on%")
importClassesFrom("flowCore", "flowSet", "filterSet")

importFrom("flowViz")

importFrom("Biobase","sampleNames","phenoData")

export("adjustGateLog10","setGate")

exportClasses("flowPlate")

exportMethods("compensate","flowPlate","setRange","fixAutoFl","plateSet","phenoData","getGroups","wellAnnotation",
	"Subset","%on%","overlay","applyControlGates","summaryStats","sampleNames","fpbind","setControlGates",
	"plotPlate","gutterPlot")	
	

		