import(methods)

importClassesFrom("flowCore", "filter", "flowSet",
                  "norm2Filter", "polygonGate", "rectangleGate",
                  "subsetFilter")

importClassesFrom("flowStats", "curv2Filter")

importMethodsFrom("flowStats", "%on%")

importMethodsFrom("flowCore", "%on%", "compensate", "each_col",
                  "filter", "filterDetails", "fsApply", "Subset")

importMethodsFrom("Biobase", "exprs", "exprs<-", "pData", "phenoData",
                  "phenoData<-", "sampleNames", "sampleNames<-",
                  "varMetadata")

importFrom("graphics", "axis", "image", "layout", "legend", "lines",
           "par", "points", "polygon")

importFrom("grDevices", "col2rgb", "rgb")

importFrom("lattice", "densityplot", "panel.abline",
           "panel.densityplot", "panel.polygon", "panel.smoothScatter",
           "panel.xyplot", "strip.custom", "strip.default",
           "trellis.par.get", "xyplot")

importFrom("MASS", "cov.rob")

importFrom("robustbase", "glmrob", "ltsReg")

importFrom("stats", "approxfun", "as.formula", "binomial", "density",
           "mad", "mahalanobis", "median", "quantile", "sd")

importFrom("utils", "data")


exportClasses("flowPlate")

exportMethods("compensate","flowPlate","fixAutoFl","plateSet",
              "phenoData","getGroups","wellAnnotation","Subset","%on%",
              "applyControlGates","summaryStats","sampleNames","fpbind",
              "setControlGates","plotPlate","gutterPlot","mfiPlot",
              "densityplot","xyplot")
		
export("panel.densityplot.flowPlate",
       "prepanel.densityplot.flowPlate", 
       "prepanel.xyplot.flowPlate",
       "panel.xyplot.flowPlate")	
       
